<li class="list-item item npc-item rollable" data-item="{{item._id}}" data-item-id="{{item._id}}">
    <div class="item-header">
        <div class="item-icon rollable" style="background-image: url({{item.img}})"></div>
        <div class="item-name rollable">
            <h4 class="{{item.data.traits.rarity.value}}">
                <a>
                    {{item.name}}
                    {{#if (and user.isGM (not item.isIdentified))}}<span class="gm-mystified-data">({{item.data.identification.identified.name}})</span>{{/if}}
                </a>
            </h4>
        </div>
        <div class="item-quantity">{{item.data.quantity.value}}</div>
        {{#if owner}}
            <div class="item-controls controls">
                <a class="item-chat chat" title="{{localize "SF2E.NPC.SendToChat"}}"><i class="fas fa-comment-alt"></i></a>
                {{#if user.isGM}}
                    {{#if item.isIdentified}}
                        <a class="item-toggle-identified identified" title="{{localize "SF2E.identification.Mystify"}}"><i class="far fa-question-circle"></i></a>
                    {{else}}
                        <a class="item-toggle-identified" title="{{localize "SF2E.identification.Identify"}}"><i class="fas fa-question-circle"></i></a>
                    {{/if}}
                {{/if}}
                <a class="item-toggle-equip{{#if item.data.equipped.value}} active{{/if}}" title="{{localize "SF2E.ui.armorEquipped"}}"><i class="fas fa-tshirt"></i></a>
                <a class="item-edit edit" title="{{localize "SF2E.NPC.Edit"}}"><i class="fas fa-edit"></i></a>
                <a class="item-delete delete" title="{{localize "SF2E.NPC.Remove"}}"><i class="fas fa-trash"></i></a>
            </div>
        {{/if}}
    </div>
</li>
