<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="auto" width="100%" style="margin: 0 auto"/>

<div class="side-bar-section armor-section">
    <div class="side-bar-section-header" title="{{data.attributes.ac.breakdown}}">
        <div class="side-bar-label armor-label">
            <i class="fas fa-shield-alt"></i>
            <h4> {{ localize 'SF2E.ArmorClassShortLabel' }}</h4>
        </div>
        <span class="armor-value">{{data.attributes.ac.value}}</span>
    </div>
    <div class="side-bar-section-content">
        <div class="armor-base labelled-field">
            <label>{{ localize 'SF2E.NPC.ArmorBaseLabel' }}</label>
            <input class="armor-value" type="number" name="data.attributes.ac.base" style="font-weight: normal;" value="{{ data.attributes.ac.base }}" data-dtype="Number" placeholder="0"/>
        </div>
    </div>
    <div class="side-bar-section-content">
        <input class="armor-details" type="text" name="data.attributes.ac.details" value="{{ data.attributes.ac.details }}" data-dtype="String" placeholder="{{localize "SF2E.NPC.ArmorExtraInfoLabelPlaceholder"}}" />
    </div>
</div>
{{#if hasShield}}
    <div class="side-bar-section shield-section{{#if data.attributes.shieldBroken}} broken" title="{{localize 'SF2E.ShieldBTLabel'}}{{/if}}">
        <div class="side-bar-section-header">
            <div class="side-bar-label shield-label">
                <i class="fas fa-user-shield{{#if data.attributes.shieldBroken}} broken{{/if}}"></i>
                <h4> {{ localize 'SF2E.ShieldLabel' }}</h4>
                <div class="shield-value">
                    <input class="shield-current" type="number" name="data.attributes.shield.value" value="{{ data.attributes.shield.value }}" title="{{localize "SF2E.ShieldCurrentTitle"}}" data-dtype="Number" placeholder="0" />
                    <span>/</span>
                    <label class="shield-max" title="{{localize "SF2E.ShieldMaxTitle"}}">{{ data.attributes.shield.max }}</label>
                </div>
            </div>
        </div>
        <div class="side-bar-section-content">
            <div class="shield-details">
                <label class="label" title="{{ localize 'SF2E.ShieldACBonusTitle' }}">{{ localize 'SF2E.ArmorClassShortLabel' }}</label>
                <label class="value">{{ data.attributes.shield.ac }}</label>
                <label class="label" title="{{ localize 'SF2E.ShieldHardnessTitle' }}">{{ localize 'SF2E.ShieldHardnessShortLabel' }}</label>
                <label class="value">{{ data.attributes.shield.hardness }}</label>
                <label class="label" title="{{ localize 'SF2E.ShieldBTTitle' }}">{{ localize 'SF2E.ShieldBTShortLabel' }}</label>
                <label class="value">{{ data.attributes.shield.brokenThreshold }}</label>
            </div>
        </div>
    </div>
{{/if}}
<div class="side-bar-section health-section">
    <div class="side-bar-section-header" title="{{data.attributes.hp.breakdown}}">
        <div class="side-bar-label">
            <i class="fas fa-heart"></i>
            <h4> {{ localize 'SF2E.HitPointsShortLabel' }}</h4>
            <div class="health-value">
                <input type="number" name="data.attributes.hp.value" value="{{ data.attributes.hp.value }}" data-dtype="Number" placeholder="0"/>
                <span>/</span>
                <input class="{{#if (lt data.attributes.hp.max 10)}}lt10{{else if (lt data.attributes.hp.max 100)}}lt100{{else}}lt1000{{/if}}" type="number" name="data.attributes.hp.max" value="{{ data.attributes.hp.max }}" data-dtype="Number" placeholder="0"/>
            </div>
        </div>
    </div>
    <div class="side-bar-section-content">
        <div class="hp-temp labelled-field">
            <label>{{ localize 'SF2E.RuleElement.TempHPShortLabel' }}</label>
            <input class="hp-temp-value" type="number" name="data.attributes.hp.temp" value="{{ data.attributes.hp.temp }}" data-dtype="Number" placeholder="0"/>
        </div>
    </div>
    <div class="side-bar-section-content">
        <input class="hp-details" type="text" name="data.attributes.hp.details" value="{{ data.attributes.hp.details }}" title="{{ data.attributes.hp.details }}" data-dtype="String" placeholder="{{ localize 'SF2E.NPC.HPExtraInfoLabelPlaceholder' }}"/>
    </div>
</div>
<div class="weaknesses side-bar-section">
    <div class="side-bar-section-header {{#unless data.traits.dv}} disabled {{/unless}}">
        <div class="side-bar-label">
            <i class="fas fa-heart-broken"></i>
            <h4>{{ localize "SF2E.WeaknessesLabel"}}</h4>
        </div>
        {{#if options.editable}}
            <div class="weaknesses-controls controls">
                <a class="trait-edit edit" data-trait-selector="weaknesses" title="{{ localize 'SF2E.NPC.EditWeaknesses' }}"><i class="fas {{#if data.traits.dv }}fa-edit {{else}}fa-plus{{/if}}"></i></a>
            </div>
        {{/if}}
    </div>
    <div class="side-bar-section-content">
        {{#each data.traits.dv as |weakness key|}}
            <div class="tag-legacy weakness" data-weakness="{{weakness.type}}">{{localize weakness.label}} {{weakness.value}}</div>
        {{/each}}
    </div>
</div>
<div class="resistances side-bar-section">
    <div class="side-bar-section-header {{#unless data.traits.dr}} disabled {{/unless}}">
        <div class="side-bar-label">
            <i class="fas fa-shield-virus"></i>
            <h4>{{localize "SF2E.ResistancesLabel"}}</h4>
        </div>
        {{#if options.editable}}
            <div class="resistances-controls controls">
                <a class="trait-edit edit" data-trait-selector="resistances" title="{{localize "SF2E.NPC.EditResistances"}}"><i class="fas {{#if data.traits.dr}}fa-edit {{else}}fa-plus{{/if}}"></i></a>
            </div>
        {{/if}}
    </div>
    <div class="side-bar-section-content">
        {{#each data.traits.dr as |resistance key|}}
            <div class="tag-legacy resistance" data-weakness="{{resistance.type}}">{{localize resistance.label}} {{resistance.value}}{{#if resistance.exceptions}} ({{resistance.exceptions}}){{/if}}</div>
        {{/each}}
    </div>
</div>
<div class="immunities side-bar-section">
    <div class="side-bar-section-header{{#unless immunities}} disabled{{/unless}}">
        <div class="side-bar-label">
            <i class="fas fa-ankh"></i>
            <h4>{{ localize 'SF2E.ImmunitiesLabel' }}</h4>
        </div>
        {{#if options.editable }}
            <div class="immunities-controls controls">
                <a class="trait-edit edit" data-trait-selector="basic" data-title="SF2E.ImmunitiesLabel" data-config-types="immunityTypes" data-property="data.traits.di" title="{{ localize 'SF2E.NPC.EditImmunities' }}"><i class="fas {{#if immunities}}fa-edit {{else}}fa-plus{{/if}}"></i></a>
            </div>
        {{/if}}
    </div>

    <div class="side-bar-section-content">
        {{#each immunities as |immunity key|}}
            <div class="tag-legacy immunity" data-weakness="{{localize key}}">{{localize immunity}}</div>
        {{/each}}
    </div>
</div>
<div class="saves">
    {{#each data.saves as |save saveId|}}
        <div class="container" data-save="{{saveId}}">
            <label class="attribute-label rollable" title="{{save.breakdown}}"><a>{{localize save.labelShort}}</a></label>
            <input class="modifier{{#if (gte save.value 0)}} not-negative{{/if}}{{#if (gt save.totalModifier save.base)}} positive-modifier{{/if}}{{#if (lt save.totalModifier save.base)}} negative-modifier{{/if}}" type="number" name="data.saves.{{saveId}}.value" value="{{save.value}}" data-display-value="{{save.value}}" data-base-property="data.saves.{{saveId}}.base" data-dtype="Number" placeholder="0"/>
            <span class="plus{{#if (lt save.value 10)}} lt10{{/if}}"></span>
        </div>
    {{/each}}
</div>
<div class="save-details side-bar-section">
    <div class="side-bar-section-content">
        <input type="text" name="data.attributes.allSaves.value" value="{{ data.attributes.allSaves.value }}" title="{{ data.attributes.allSaves.value }}" data-dtype="String" placeholder="{{ localize 'SF2E.NPC.SavesExtraInfoLabelPlaceholder' }}"/>
    </div>
</div>
<div class="speed side-bar-section">
    <div class="side-bar-section-header">
        <div class="side-bar-label">
            <i class="fas fa-shoe-prints"></i>
            <h4>{{localize "SF2E.NPC.SpeedLabel"}}</h4>
        </div>
        {{#if options.editable}}
            <div class="speed-controls controls">
                <a class="trait-edit edit" data-trait-selector="speed-types" data-attribute="data.attributes.speed.otherSpeeds" data-options="speedTypes" data-has-values="true" title="{{ localize 'SF2E.NPC.EditSpeed' }}"><i class="fas fa-edit"></i></a>
            </div>
        {{/if}}
    </div>
    <div class="speed-section side-bar-section-content">
        <div class="land-speed">
            <input type="text" name="data.attributes.speed.value" value="{{ data.attributes.speed.value }}" data-dtype="String" placeholder="0"/>
        </div>
        <div class="other-speeds">
            {{#each data.attributes.speed.otherSpeeds as |speed speedId|}}
                {{#if speed.value }}
                    <div class="tag-legacy speed" data-speed="{{localize speed.type}}">
                        {{localize speed.label}} {{speed.value}}
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>
<div class="side-bar-section effects">
    <div class="side-bar-section-header">
        <div class="side-bar-label">
            <i class="fas fa-adjust"></i>
            <h4>{{localize "SF2E.EffectsLabel"}}</h4>
        </div>
    </div>
    <div class="side-bar-section-content">
        <div class="effects-list inventory-list">
            {{#each conditions as |condition index|}}
                <div class="item item-name effect expandable" title="{{condition.name}}" data-item-id="{{condition._id}}" data-action-index="{{index}}">
                    <div class="item-image" style="background-image: url({{condition.img}})"></div>
                </div>
            {{/each}}
            {{#each effectItems as |effect|}}
                {{#if @first}}<div class="separator"></div>{{/if}}
                <div class="item effect expandable" title="{{effect.name}}" data-item-id="{{effect._id}}">
                    <div class="item-image" style="background-image: url({{effect.img}})"></div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
