<div class="sidebar_title">
    <h2>{{localize 'SF2E.StaminaPointsHeader'}}</h2>
</div>
<ol class="stamina">
    <li class="sp">
        <label for="CurrentStamina">{{localize 'SF2E.StaminaPointsShortLabel'}}</label>
        <span class="hp-current pf-value pf-large stamina-group" title="{{localize 'SF2E.CurrentStaminaTitle'}}">
            <input
                class="left"
                type="number"
                inputmode="numeric"
                min="0"
                max="{{data.attributes.sp.max}}"
                name="data.attributes.sp.value"
                value="{{data.attributes.sp.value}}"
            />
            <span class="divider">&sol;</span>
            <input class="right" type="number" value="{{data.attributes.sp.max}}" disabled="disabled" />
        </span>
    </li>
    <li class="resolve">
        <label for="resolve">{{localize 'SF2E.ResolvePointsShortLabel'}}</label>
        <span class="hp-max pf-value pf-large stamina-group" title="{{localize 'SF2E.ResolveTitle'}}">
            <input
                class="left"
                type="number"
                inputmode="numeric"
                min="0"
                max="{{data.attributes.resolve.max}}"
                name="data.attributes.resolve.value"
                value="{{data.attributes.resolve.value}}"
            />
            <span class="divider">&sol;</span>
            <input class="right" type="number" value="{{data.attributes.resolve.max}}" disabled="disabled" />
        </span>
    </li>
</ol>
