<div class="sidebar_title">
    <h2>{{localize 'SF2E.ArmorClassLabel'}}</h2>
</div>
<div class="armor-class">
    <div class="shield ac" title="{{localize 'SF2E.ArmorClassLabel'}}">
        <div class="data-value">
            <input name="data.attributes.ac.value" type="number" value="{{data.attributes.ac.value}}" data-dtype="Number" placeholder="10" size="1"/>
        </div>
        <label for="data.attributes.ac.value">{{localize 'SF2E.ArmorClassShortLabel'}}</label>
    </div>
    <div class="shield hardness" title="{{localize 'SF2E.vehicle.HardnessLabel'}}">
        <div class="data-value">
            <input
                id="vehicle-hardness"
                type="number"
                data-dtype="Number"
                placeholder="0"
                name="data.attributes.hardness"
                value="{{data.attributes.hardness}}"
            />
        </div>
        <label for="vehicle-hardness">{{localize 'SF2E.vehicle.HardnessShortLabel'}}</label>
    </div>
</div>