<div class="form-group">
    <label>{{localize "SF2E.Rarity"}}</label>
    <select name="data.traits.rarity.value" data-dtype="String">
        {{#select data.traits.rarity.value}}
            {{#each rarities}}
                <option value="{{@key}}">{{localize this.label}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "SF2E.HitPointsHeader"}}</label>
    <input type="number" name="data.hp" value="{{data.hp}}" data-dtype="Number" />
</div>

<div class="form-group">
    <label>{{localize "SF2E.SizeLabel"}}</label>
    <select name="data.size" data-dtype="String">
        {{#select data.size}}
            {{#each sizes}}
                <option value="{{@key}}">{{localize this.label}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "SF2E.Reach"}}</label>
    <input type="number" name="data.reach" value="{{data.reach}}" data-dtype="Number" />
</div>
<div class="form-group">
    <label>{{localize "SF2E.SpeedFeet"}}</label>
    <input type="number" name="data.speed" value="{{data.speed}}" data-dtype="Number" />
</div>
<div class="form-group">
    <label>{{localize "SF2E.Item.Ancestry.Vision.Label"}}</label>
    <select name="data.vision">
        {{#select data.vision}}
            <option value="normal">{{localize "SF2E.Item.Ancestry.Vision.Normal"}}</option>
            <option value="lowLightVision">{{localize "SF2E.SensesLowLightVision"}}</option>
            <option value="darkvision">{{localize "SF2E.SensesDarkvision"}}</option>
        {{/select}}
    </select>
</div>
{{#each data.boosts as |boost idx|}}
    <div class="form-group form-group-trait">
        <label class="pf-title">
            {{localize "SF2E.AbilityBoost"}}
            <a class="trait-selector" data-trait-selector="basic" data-title="SF2E.AbilityBoost" data-config-types="abilities" data-property="data.boosts.{{idx}}" data-no-custom="true"><i class="fas fa-edit"></i></a>
        </label>

        <ul class="abc-traits-list">
            {{#each (lookup ../selectedBoosts idx) as |v k|}}
                <span class="tag-legacy {{k}}">{{localize v}}</span>
            {{/each}}
        </ul>
    </div>
{{/each}}

{{#each data.flaws as |flaw idx|}}
    <div class="form-group form-group-trait">
        <label class="pf-title">
            {{localize "SF2E.AbilityFlaw"}}
            <a class="trait-selector" data-trait-selector="basic" data-title="SF2E.AbilityFlaw" data-config-types="abilities" data-property="data.flaws.{{idx}}" data-no-custom="true"><i class="fas fa-edit"></i></a>
        </label>

        {{lookup selectedFlaws @idx}}
        <ul class="abc-traits-list">
            {{#each (lookup ../selectedFlaws idx) as |v k|}}
                <span class="tag-legacy {{k}}">{{localize v}}</span>
            {{/each}}
        </ul>
    </div>
{{/each}}

<div class="form-group form-group-trait">
    <label class="pf-title">
        {{localize "SF2E.Languages"}}
        <a class="trait-selector" data-trait-selector="basic" data-title="SF2E.Languages" data-config-types="languages" data-property="data.languages"><i class="fas fa-edit"></i></a>
    </label>

    <ul class="abc-traits-list">
        {{#each languages}}
            {{#if this.selected}}
                <span class="tag-legacy {{@key}}">
                    {{localize this.label}}
                </span>
            {{/if}}
        {{/each}}
    </ul>
</div>

<div class="form-group additional-language">
    <label class="pf-title">
        {{localize "SF2E.LanguagesAdditional"}}
        <a class="trait-selector" data-trait-selector="basic" data-title="SF2E.LanguagesAdditional" data-config-types="languages" data-property="data.additionalLanguages"><i class="fas fa-edit"></i></a>
    </label>

    <input type="number" name="data.additionalLanguages.count" value="{{data.additionalLanguages.count}}" data-dtype="Number" />
    <span>{{localize "SF2E.AdditionalLanguagePlusInt"}}</span>
</div>
<div class="form-group form-group-trait">
    <label class="pf-title" for="data.additionalLanguages">&nbsp;</label>
    <ul class="abc-traits-list">
        {{#each additionalLanguages}}
            {{#if this.selected}}
                <span class="tag-legacy {{@key}}">
                    {{localize this.label}}
                </span>
            {{/if}}
        {{/each}}
    </ul>
</div>
<div class="form-group form-group-trait">
    <label>
        {{localize "SF2E.TraitsLabel"}}
        <a class="trait-selector" data-trait-selector="basic" data-config-types="creatureTraits" data-property="data.traits"><i class="fas fa-edit"></i></a>
    </label>
    <ul class="abc-traits-list">
        {{#each traits}}
            {{#if this.selected}}
                <span class="tag-legacy {{@key}}">{{localize this.label}}</span>
            {{/if}}
        {{/each}}
    </ul>
</div>

{{~#*inline "abcItems"~}}
<ul class='abc-items'>
    {{~#each items as |item i|}}
    <li class="abc-item" data-pack-id="{{item.pack}}" data-index="{{i}}" data-item-id="{{item.id}}">
        <img class="-item-image" src="{{item.img}}">
        <div class="abc-item-name">{{item.name}}{{#unless item.pack}}<i class="fa fa-globe" title="{{localize "SF2E.AncestryFeatures"}}"></i>{{/unless}}</div>
        <input value="{{item.name}}" name="{{@partial-block}}items.{{i}}.name" type="hidden" data-dtype='String'>
        <input value="{{item.pack}}" name="{{@partial-block}}items.{{i}}.pack" type="hidden" data-dtype='String'>
        <input value="{{item.id}}" name="{{@partial-block}}items.{{i}}.id" type="hidden" data-dtype='String'>
        <a class="abc-item-remove" data-action='remove'><i class="fa fa-times"></i></a>
        {{#if item.items~}}
            {{#> abcItems item}}{{@partial-block}}items.{{i}}.{{/abcItems}}
                {{~/if}}
    </li>
    {{/each~}}
</ul>
{{~/inline~}}

<div class="form-group-stacked abc-list" data-valid-drops="ancestryfeature">
    <label for="data.traits">
        {{localize "SF2E.AncestryFeatures"}}
    </label>
    {{#> abcItems data}}data.{{/abcItems}}
</div>
