<h4 class="sidebar-summary">{{localize "SF2E.Item.SidebarSummary" type=(localize "ITEM.TypeBackground")}}</h4>

<ol class="item-tags tags">
    {{#each traits}}
        {{#if this.selected}}
            <li class="tag tag_transparent">{{localize this.label}}</li>
        {{/if}}
    {{/each}}
    <li class="tag tag_transparent">{{#with (lookup rarities data.traits.rarity.value)}}{{localize this.label}}{{/with}}</li>
</ol>
