<div class="form-group">
    <label>{{localize "SF2E.EquipmentEquippedLabel"}}</label>
    <input type="checkbox" name="data.equipped.value" data-dtype="Boolean" {{checked data.equipped.value}}/>
</div>

<div class="form-group">
    <label>{{localize "SF2E.BulkReductionLabel"}}</label>
    <input type="text" name="data.negateBulk.value" value="{{data.negateBulk.value}}" data-dtype="String"/>
</div>

<div class="form-group">
    <label>{{localize "SF2E.BulkCapacityLabel"}}</label>
    <input type="text" name="data.bulkCapacity.value" value="{{data.bulkCapacity.value}}" data-dtype="String"/>
</div>


<div class="form-group-stacked">
    <label>
        {{localize "SF2E.TraitsLabel"}}
        <a class="trait-selector" data-trait-selector="basic" data-config-types="equipmentTraits" data-property="data.traits"><i class="fas fa-edit"></i></a>
    </label>
    <ul class="traits-list pf-value pf-large">
        {{#each traits as |trait|}}
            <li class="tag-legacy" data-trait="{{trait.value}}">{{localize trait.label}}</li>
        {{/each}}
    </ul>
</div>
