<div class="form-group">
    <label>{{localize "SF2E.Condition.ActiveLabel"}}</label>
    <input type="checkbox" name="data.active" data-dtype="Boolean" {{checked data.active}}/>
    <label>{{localize "SF2E.Condition.RemovableLabel"}}</label>
    <input type="checkbox" name="data.removable" data-dtype="Boolean" {{checked data.removable}}/>
</div>

<div class="form-group">
    <label>{{localize "SF2E.Condition.HasValueLabel"}}</label>
    <input type="checkbox" name="data.value.isValued" data-dtype="Boolean" {{checked data.value.isValued}}/>
    {{#if data.value.isValued}}
    <label title='{{localize "SF2E.Condition.ImmutableTitle"}}'>{{localize "SF2E.Condition.ImmutableLabel"}}</label>
    <input type="checkbox" title='{{localize "SF2E.Condition.ImmutableTitle"}}' name="data.value.immutable" data-dtype="Boolean" {{checked data.value.immutable}}/>
    {{/if}}
</div>

{{#if data.value.isValued}}
<div class="form-group">
    <label>{{localize "SF2E.Condition.ValueLabel"}}</label>
    <input type="number" name="data.value.value" value="{{data.value.value}}" data-dtype="Number"/>
</div>
{{/if}}

<hr>


<div class="form-group">
    <label>{{localize "SF2E.Condition.PerpetualLabel"}}</label>
    <input type="checkbox" name="data.duration.perpetual" data-dtype="Boolean" {{checked data.duration.perpetual}}/>
</div>
{{#unless data.duration.perpetual}}
<div class="form-group">
    <label>{{localize "SF2E.Condition.DurationTextLabel"}}</label>
    <input type="text" name="data.duration.text" value="{{data.duration.text}}" data-dtype="String"/>
    <label>{{localize "SF2E.Condition.DurationNumberLabel"}}</label>
    <input type="number" name="data.duration.value" value="{{data.duration.value}}" data-dtype="Number"/>
</div>
{{/unless}}
