<h4 class="sidebar-summary">{{localize "SF2E.Item.SidebarSummary" type=(localize "ITEM.TypeConsumable")}}</h4>

<div class="inventory-details">
    <div class="form-group">
        <label>{{localize "SF2E.LevelLabel"}}</label>
        <input type="number" name="data.level.value" value="{{data.level.value}}" data-dtype="Number"/>
    </div>

    <div class="form-group">
        <label>{{localize "SF2E.QuantityLabel"}}</label>
        <input type="number" name="data.quantity.value" value="{{data.quantity.value}}" data-dtype="Number"/>
    </div>

    <div class="form-group">
        <label>{{localize "SF2E.Rarity"}}</label>
        <select name="data.traits.rarity.value" data-dtype="String">
            {{#select data.traits.rarity.value}}
                {{#each rarity as |label key|}}
                    <option value="{{key}}">{{localize label}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="form-group">
        <label>{{localize "SF2E.Usage"}}</label>
        <select name="data.usage.value" data-dtype="String">
            {{#select data.usage.value}}
                {{#each usage as |label key|}}
                    <option value="{{key}}">{{localize label}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="form-group">
        <label>{{localize "SF2E.BulkLabel"}}</label>
        <select name="data.weight.value" data-dtype="String" {{#if bulkDisabled}}disabled="disabled"{{/if}}>
            {{#select data.weight.value}}
                <option value="-">{{localize "SF2E.NegligibleOption"}}</option>
                {{#each bulkTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <!-- Equipped Bulk -->
    <div class="form-group">
        <label>{{localize "SF2E.EquippedBulkLabel"}}</label>
        <select name="data.equippedBulk.value" data-dtype="String" {{#if bulkDisabled}}disabled="disabled"{{/if}}>
            {{#select data.equippedBulk.value}}
                <option value="">{{localize "SF2E.EquippedSameBulkValue"}}</option>
                <option value="0">{{localize "SF2E.NegligibleOption"}}</option>
                {{#each bulkTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <!-- Stack Group -->
    <div class="form-group">
        <label>{{localize "SF2E.StackGroupLabel"}}</label>
        <select name="data.stackGroup.value" data-dtype="String">
            {{#select data.stackGroup.value}}
                <option value="">{{localize "SF2E.NoStackGroup"}}</option>
                {{#each stackGroups as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <!-- Size -->
    <div class="form-group">
        <label>{{localize "SF2E.Size"}}</label>
        <select name="data.size.value" data-dtype="String">
            {{#select data.size.value}}
                {{#each sizes as |name value|}}
                    <option value="{{value}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <!-- Price -->
    <div class="form-group">
        <label>{{localize "SF2E.PriceLabel"}}</label>
        <input type="text" name="data.price.value" value="{{data.price.value}}" data-dtype="String" />
    </div>
    <!-- Charges -->
    <div class="form-group consumable-details">
        <label>{{localize "SF2E.ConsumableChargesLabel"}}</label>
        <input type="number" name="data.charges.value" value="{{data.charges.value}}" data-dtype="Number"/>
        <span class="flex0">/</span>
        <input type="number" name="data.charges.max" value="{{data.charges.max}}" data-dtype="Number"/>
    </div>
    <!-- Traits -->
    <ol class="item-tags tags">
        {{#each traits as |trait|}}
            <li class="tag tag_transparent">{{localize trait.label}}</li>
        {{/each}}
    </ol>
</div>
