<h4 class="sidebar-summary">{{localize "SF2E.Item.SidebarSummary" type=(localize "ITEM.TypeEffect")}}</h4>

<div class="inventory-details">
    <div class="form-group">
        <label for="effect-level">{{localize "SF2E.LevelLabel"}}</label>
        <div class="form-fields">
            <input type="number" name="data.level.value" value="{{data.level.value}}" data-dtype="Number" />
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label for="{{#if (eq data.duration.unit "unlimited")}}effect-duration-unit{{else}}effect-duration-value{{/if}}">{{localize "SF2E.Time.Duration"}}</label>
        <div class="form-fields">
            {{#if (eq data.duration.unit "unlimited")}}
                <input type="hidden" name="data.duration.value" value="-1" data-dtype="Number"/>
            {{else}}
                <input type="number" name="data.duration.value" class="left-of-select" value="{{data.duration.value}}" data-dtype="Number"/>
            {{/if}}
            <select name="data.duration.unit">
                {{#select data.duration.unit}}
                    <option value="rounds">{{localize "SF2E.Time.Unit.Rounds"}}</option>
                    <option value="minutes">{{localize "SF2E.Time.Unit.Minutes"}}</option>
                    <option value="hours">{{localize "SF2E.Time.Unit.Hours"}}</option>
                    <option value="days">{{localize "SF2E.Time.Unit.Days"}}</option>
                    <option value="unlimited">{{localize "SF2E.Time.Unit.Unlimited"}}</option>
                {{/select}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="effect-duration-sustained">{{localize "SF2E.Item.Effect.Sustained"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="data.duration.sustained" data-dtype="Boolean" {{checked data.duration.sustained}} />
        </div>
    </div>
    <div class="form-group">
        <label for="effect-duration-expiry">{{localize "SF2E.Item.Effect.Expiry.ExpiresOn"}}</label>
        <div class="form-fields">
            <select name="data.duration.expiry">
                {{#select data.duration.expiry}}
                    <option value="turn-start">{{localize "SF2E.Item.Effect.Expiry.StartOfTurn"}}</option>
                    <option value="turn-end">{{localize "SF2E.Item.Effect.Expiry.EndOfTurn"}}</option>
                {{/select}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="data.tokenIcon.show">{{localize "SF2E.Item.Effect.ShowTokenIcon"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="data.tokenIcon.show" data-dtype="Boolean" {{checked data.tokenIcon.show}} />
        </div>
    </div>
    <hr />
    {{#if targets}}
        <div class="form-group">
            <label for="effect-target">{{localize "Target"}}</label>
            <div class="form-fields">
                <select name="data.target" data-dtype="String">
                    {{#select data.target}}
                        <option value=""></option>
                        {{#each targets}}
                            <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
    {{/if}}
</div>
