<h4 class="sidebar-summary">{{localize "SF2E.Item.SidebarSummary" type=(localize "ITEM.TypeLore")}}</h4>

<div class="inventory-details">
    <div class="form-group">
        <label>{{localize 'SF2E.ProficiencyLabel'}}</label>
        <select name="data.proficient.value" data-dtype="Number">
            {{#select data.proficient.value}}
            {{#each proficiencies as |label p|}}
            <option value="{{p}}">{{localize label}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="form-group">{{localize 'SF2E.LoreProficiencyDisclaimer'}}</div>
</div>
