<table class="skill-variants">
    <caption>Situational Skill Rolls</caption>
    <tr>
        <th>Label</th>
        <th>Roll Options</th>
        <th>&nbsp;</th>
    </tr>
    {{#each data.variants as |variant idx|}}
    <tr>
        <td><input name="data.variants.{{idx}}.label" value="{{variant.label}}"></td>
        <td><input name="data.variants.{{idx}}.options" value="{{variant.options}}" placeholder="separated by comma"></td>
        <td><div class="remove-skill-variant" data-skill-variant-index="{{idx}}" title="{{localize 'SF2E.ItemRemoveRuleElement'}}"><i class="fas fa-trash"></i></div></td>
    </tr>
    {{/each}}
</table>
<div class="add-skill-variant"><i class="fas fa-plus"></i> {{localize 'SF2E.ItemNewSkillVariant'}}</div>
