<div class="rules">
    {{#each data.rules as |rule|}}
        <div class="rule-element-header">
            {{#with (lookup @root.ruleLabels @index)}}<h3{{#if (not recognized)}} class="unrecognized"{{/if}}>{{label}}</h3>{{/with}}
            <a class="remove-rule-element" data-rule-index="{{@index}}" title="{{localize "SF2E.ItemRemoveRuleElement"}}"><i class="fas fa-trash"></i></a>
        </div>
        <textarea name="data.rules.{{@index}}" spellcheck="false">{{json rule}}</textarea>
        <hr/>
    {{/each}}
    <a class="add-rule-element"><i class="fas fa-plus"></i> {{localize "SF2E.ItemNewRuleElement"}}</a>
</div>
