<div class="form-group">
    <label>{{localize "SF2E.WeaponTypeLabel"}}</label>
    <select name="data.weaponType.value" data-dtype="String">
        {{#select data.weaponType.value}}
            {{#each categories as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "SF2E.WeaponGroupLabel"}}</label>
    <select name="data.group.value" data-dtype="String">
        {{#select data.group.value}}
            <option value=""></option>
            {{#each groups as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "SF2E.WeaponBaseLabel"}}</label>
    <select name="data.baseItem" data-dtype="String">
        {{#select data.baseItem}}
            <option value=""></option>
            {{#each baseTypes as |name slug|}}
                <option value="{{slug}}">{{name}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>
{{#unless isBomb}}
    <ol class="form-list">
        <h3>
            {{localize "SF2E.Item.Weapon.MaterialAndRunes.Title"}}
            <i class="fas fa-info-circle large" title="{{localize "SF2E.Item.Weapon.MaterialAndRunes.Hint"}}"></i>
        </h3>
        <div class="form-group">
            <label>{{localize "SF2E.PreciousMaterialLabel"}}</label>
            <select name="preciousMaterial" data-dtype="String">
                <option value=""></option>
                {{#each preciousMaterials as |material materialKey|}}
                    <optgroup label="{{material.label}}">
                        {{#each material as |grade gradeKey|}}
                            {{#if grade.label}}
                                <option value="{{materialKey}}-{{gradeKey}}"{{#if grade.selected}} selected="selected"{{/if}}>
                                    {{localize "SF2E.Item.Weapon.MaterialAndRunes.MaterialOption" type=material.label grade=grade.label}}
                                </option>
                            {{/if}}
                        {{/each}}
                    </optgroup>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label>{{localize "SF2E.PotencyRuneLabel"}}</label>
            <select name="data.potencyRune.value" data-dtype="Number">
                {{#select data.potencyRune.value}}
                    <option value="0"></option>
                    {{#each weaponPotencyRunes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
        {{#if (not hideStrikingMenu)}}
            <div class="form-group">
                <label>{{localize "SF2E.StrikingRuneLabel"}}</label>
                <select name="data.strikingRune.value" data-dtype="String">
                    {{#select data.strikingRune.value}}
                        <option value=""></option>
                        {{#each weaponStrikingRunes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        {{/if}}
        {{#each propertyRuneSlots as |slot|}}
            <div class="form-group">
                <label>{{slot.label}}</label>
                <select name="{{slot.name}}" data-dtype="String">
                    {{#select slot.value}}
                        <option value=""></option>
                        {{#each @root.weaponPropertyRunes as |label type|}}
                            <!-- {{label}} -->
                            <option value="{{type}}">{{localize label}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        {{/each}}
        <div class="form-group">
            <label class="large">
                {{localize "SF2E.Item.Weapon.SpecificMagicWeapon.Label"}}
                <i class="fas fa-info-circle large" title="{{localize "SF2E.Item.Weapon.SpecificMagicWeapon.Hint"}}"></i>
            </label>
            <input type="checkbox" name="data.specific.value" data-dtype="Boolean" {{checked data.specific.value}} />
        </div>
    </ol>
{{/unless}}
<ol class="form-list">
    <h3>
        {{localize "SF2E.WeaponBaseDamageLabel"}}
        <i class="fas fa-info-circle large" title="{{localize "SF2E.WeaponBaseDamageTitle"}}"></i>
    </h3>
    <div class="form-group">
        <label>{{localize "SF2E.WeaponDamageLabel"}}</label>
        <div class="details-container-three-columns">
            <select name="data.damage.dice" data-dtype="Number">
                {{#select data.damage.dice}}
                    {{#each damageDice as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <select name="data.damage.die" data-dtype="String">
                {{#select data.damage.die}}
                    <option value=""></option>
                    {{#each damageDie as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <select name="data.damage.damageType" data-dtype="String">
                {{#select data.damage.damageType}}
                    {{#each weaponDamage as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    </div>

    {{#if isBomb}}
        <div class="form-group">
            <label>{{localize "SF2E.WeaponBonusAttackLabel"}}</label>
            <input type="number" name="data.bonus.value" value="{{data.bonus.value}}" data-dtype="Number"/>
        </div>
    {{/if}}

    <div class="form-group">
        <label>{{localize "SF2E.WeaponSplashDamageLabel"}}</label>
        <input type="number" name="data.splashDamage.value" value="{{data.splashDamage.value}}" data-dtype="Number"/>
    </div>

    <div class="form-group">
        <label>{{localize "SF2E.WeaponBonusDamageLabel"}}</label>
        <input type="number" name="data.bonusDamage.value" value="{{data.bonusDamage.value}}" data-dtype="Number"/>
    </div>
</ol>
<ol class="form-list">
    <h3>
        {{localize "SF2E.WeaponCustomDamageLabel"}}
        <i class="fas fa-info-circle large" title="{{localize "SF2E.WeaponCustomDamageTitle"}}"></i>
    </h3>
    <li class="form-group">
        <label>{{localize "SF2E.ItemDescription"}}</label>
        <input type="text" name="data.property1.value" value="{{data.property1.value}}" data-dtype="String"/>
    </li>

    <li class="form-group">
        <label>{{localize "SF2E.WeaponPropertyStrikeDamageLabel"}}</label>
        <div class="details-container">
            <select name="data.property1.dice" data-dtype="Number">
                {{#select data.property1.dice}}
                    <option value=""></option>
                    {{#each damageDice as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <select name="data.property1.die" data-dtype="String">
                {{#select data.property1.die}}
                    <option value=""></option>
                    {{#each damageDie as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <select name="data.property1.damageType" data-dtype="String">
                {{#select data.property1.damageType}}
                    <option value=""></option>
                    {{#each damageTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    </li>
    <li class="form-group">
        <label>{{localize "SF2E.WeaponPropertyStrikeEffectLabel"}}</label>
        <div class="effects-container">
            <select name="data.property1.strikeConditionType" data-dtype="String">
                {{#select data.property1.strikeConditionType}}
                    <option value=""></option>
                    {{#each conditionTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <select name="data.property1.strikeConditionValue" data-dtype="Number">
                {{#select data.property1.strikeConditionValue}}
                    <option value=""></option>
                    {{#each damageDice as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    </li>
    <li class="form-group">
        <label>{{localize "SF2E.WeaponPropertyCriticalDamageLabel"}}</label>
        <div class="details-container">
            <select name="data.property1.critDice" data-dtype="Number">
                {{#select data.property1.critDice}}
                    <option value=""></option>
                    {{#each damageDice as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <select name="data.property1.critDie" data-dtype="String">
                {{#select data.property1.critDie}}
                    <option value=""></option>
                    {{#each damageDie as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <select name="data.property1.critDamageType" data-dtype="String">
                {{#select data.property1.critDamageType}}
                    <option value=""></option>
                    {{#each damageTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    </li>
    <li class="form-group">
        <label>{{localize "SF2E.WeaponPropertyCriticalEffectLabel"}}</label>
        <div class="effects-container">
            <select name="data.property1.criticalConditionType" data-dtype="String">
                {{#select data.property1.criticalConditionType}}
                    <option value=""></option>
                    {{#each conditionTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <select name="data.property1.criticalConditionValue" data-dtype="Number">
                {{#select data.property1.criticalConditionValue}}
                    <option value=""></option>
                    {{#each damageDice as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    </li>
</ol>
<div class="form-group">
    <label>{{localize "SF2E.WeaponRangeLabel"}}</label>
    <select name="data.range.value" data-dtype="String">
        {{#select data.range.value}}
            <option value=""></option>
            {{#each weaponRange as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>


<div class="form-group">
    <label>{{localize "SF2E.WeaponReloadLabel"}}</label>
    <select name="data.reload.value" data-dtype="String">
        {{#select data.reload.value}}
            <option value=""></option>
            {{#each weaponReload as |name type|}}
                <option value="{{type}}">{{name}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "SF2E.WeaponAbilityLabel"}}</label>
    <select name="data.ability.value" data-dtype="String">
        {{#select data.ability.value}}
            {{#each abilities as |ability a|}}
                <option value="{{a}}">{{localize ability}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "SF2E.WeaponMAPLabel"}}</label>
    <select name="data.MAP.value" data-dtype="String">
        {{#select data.MAP.value}}
            <option value="">{{localize "SF2E.WeaponMAPDefaultOption"}}</option>
            {{#each weaponMAP as |name type|}}
                <option value="{{type}}">{{name}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group-stacked">
    <label>
        {{localize "SF2E.TraitsLabel"}}
        <a class="trait-selector" data-trait-selector="basic" data-config-types="weaponTraits" data-property="data.traits"><i class="fas fa-edit"></i></a>
    </label>
    <ul class="traits-list pf-value pf-large">
        {{#each baseTraits as |trait|}}
            {{#if trait.selected}}
                <li class="tag-legacy">{{localize trait.label}}</li>
            {{/if}}
        {{/each}}
    </ul>
</div>

<div class="form-group">
    <label>{{localize "SF2E.ArmorEquippedLabel"}}</label>
    <input type="checkbox" name="data.equipped.value" value="1" data-dtype="Boolean" {{checked data.equipped.value}}/>
</div>
