<div class="tab inventory item-container" data-container-type="actorInventory" data-group="primary" data-tab="inventory">
    <div class="inventory-toggles toggles section-container headerless">
        <div class="section-body actions-options">
            <div class="actions-option">
                <label>
                    <input type="checkbox" name="flags.sf2e.lootable" {{checked (any configLootableNpc @root.actor.flags.sf2e.lootable)}} {{disabled configLootableNpc}}>
                    <span>{{localize "SF2E.Actor.NPC.IsLootableOnDeathLabel"}}</span>
                </label>
            </div>
        </div>
    </div>
    <div class="items inventory-section">
        {{#if @root.owner}}
            <ol class="currency">
                {{#each totalCoinage as |value denomination|}}
                    <li class="denomination {{denomination}}">
                        <div class="currency-image" title="{{localize value.label}}"></div>
                        <span>{{value.value}}</span>
                    </li>
                {{/each}}
                <li class="add-coins-popup" title="{{localize "SF2E.AddCoinsTitle"}}">
                    <button type="button"><i class="fas fa-plus"></i></button>
                </li>
                <li class="remove-coins-popup" title="{{localize "SF2E.RemoveCoinsTitle"}}">
                    <button type="button"><i class="fas fa-minus"></i></button>
                </li>
            </ol>
        {{/if}}
        <div class="header">
            <div></div>
            <div class="item-name">{{localize "SF2E.NPC.Inventory.Header.NameLabel"}}</div>
            <div class="item-quantity">{{localize "SF2E.NPC.Inventory.Header.QuantityLabel"}}</div>
            <div></div>
        </div>
        <div class="body">
            <ul class="item-list">
                {{#each inventory as |category categoryId|}}
                    <div class="category-header">
                        <h4>{{category.label}}</h4>
                        <div class="category-controls controls">
                            {{#if @root.owner}}
                                <a class="item-control item-create" data-type="{{category.type}}"><i class="fas fa-plus"></i></a>
                                <a class="item-control inventory-browse" title="{{localize "SF2E.OpenInventoryBrowser"}}" data-filter="itemtypes-{{category.type}}"><i class="fas fa-search"></i></a>
                            {{/if}}
                        </div>
                    </div>
                    {{#each category.items as |item itemId|}}
                        {{> "systems/sf2e/templates/actors/npc/partials/item.html" item=item user=@root.user owner=@root.owner editable=@root.editable}}
                    {{/each}}
                {{/each}}
            </ul>
        </div>
        <div class="footer">
        </div>
    </div>
</div>
