<header class="char-header">
    <div class="char-details">
        <h1 class="char-name">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "SF2E.CharacterNamePlaceholder"}}" />
        </h1>
        <div class="traits-bar">
            {{#if isNotCommon}}
                <span class="trait {{data.traits.rarity.value}}">{{localize actorRarity}}</span>
            {{/if}}
            <span class="trait size">{{localize actorSize}}</span>
            {{#each actor.data.traits.traits.selected as |trait id|}}
                <span class="trait">{{localize trait}}</span>
            {{/each}}
        </div>
    </div>
    <div class="char-level">
        <div class="level">
            <label>
                {{localize "SF2E.vehicle.VehicleLevelLabel"}}
            </label>
            <input name="data.details.level.value" type="number" value="{{data.details.level.value}}" placeholder="1" size="2" />
        </div>
    </div>
</header>
