<form class="{{cssClass}} crb-style" autocomplete="off">
    <aside>
        <div class="sidebar" data-group="dashboard" data-tab="sidebar">
            <!-- HEALTH -->
            {{>systems/sf2e/templates/actors/vehicle/sidebar/vehicle-health.html}}

            <!-- ARMOR CLASS -->
            {{>systems/sf2e/templates/actors/vehicle/sidebar/vehicle-armorclass.html}}

            <!-- Saves -->
            {{>systems/sf2e/templates/actors/vehicle/sidebar/vehicle-saves.html}}

            <!-- Resistances -->
            {{>systems/sf2e/templates/actors/vehicle/sidebar/vehicle-resistances.html}}
        </div>
    </aside>

    <!-- HEADER -->
    {{> systems/sf2e/templates/actors/vehicle/vehicle-header.html }}

    <!-- SHEET NAVIGATION -->
    <nav class="sheet-navigation" data-group="primary">
        <span class="navigation-title">{{localize "SF2E.TabDetailsLabel"}}</span>

        <a class="item" data-tab="details" data-tab-title="{{localize 'SF2E.TabDetailsLabel'}}">
            <i class="fas fa-dharmachakra"></i>
        </a>

        <a class="item" data-tab="actions" data-tab-title="{{localize 'SF2E.TabActionsLabel'}}">
            <i class="fas fa-bullseye"></i>
        </a>

        {{!-- <a class="item" data-tab="effects" data-tab-title="{{localize 'SF2E.TabEffectsLabel'}}">
            <i class="fas fa-star"></i>
        </a> --}}

        <a class="item" data-tab="inventory" data-tab-title="{{localize 'SF2E.TabInventoryLabel'}}">
            <i class="fas fa-box-open"></i>
        </a>

        <a class="item" data-tab="description" data-tab-title="{{localize 'SF2E.TabDescriptionLabel'}}">
            <i class="fas fa-book-reader"></i>
        </a>
    </nav>

    <!-- BODY -->
    <section class="sheet-body">
        <section class="sheet-content">
            <!-- DETAILS -->
            {{> systems/sf2e/templates/actors/vehicle/tabs/vehicle-details.html }}

            <!-- Actions -->
            {{> systems/sf2e/templates/actors/vehicle/tabs/vehicle-actions.html }}

            {{!-- <!-- Effects -->
            {{> systems/sf2e/templates/actors/crb-style/tabs/actor-effects.html }} --}}

            <!-- INVENTORY -->
            {{> systems/sf2e/templates/actors/vehicle/tabs/vehicle-inventory.html }}

            <!-- INVENTORY -->
            {{> systems/sf2e/templates/actors/vehicle/tabs/vehicle-description.html }}
        </section>
    </section>
</form>
