:root {
    --border-width: 1px;
}

#sidebar {
    --header-color: white;
    --header-bg: var(--primary);
    --body-padding: 0.25em 0.5em;
}

/* Toolbar UI */
#controls .scene-control,
#controls .control-tool {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    padding: 2px;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    background: var(--primary);
    background-image: url('../../assets/sheet/nav-item.webp');
    background-size: contain;
    background-blend-mode: overlay;
    border-radius: 3px;

    border: 1px solid var(--body);
    /* prettier-ignore */
    box-shadow:
        0 0 0 1px var(--tertiary),
        0 0 0 2px #9f725b,
        inset 0 0 3px #CC0000;
}
#controls .control-tools {
    left: 48px;
    top: 0;
}

#controls .scene-control.active,
#controls .control-tool.active,
#controls .scene-control:hover,
#controls .control-tool:hover {
    position: relative;
    margin: 0px 1px 10px;
    color: var(--tertiary);
    border: none;
    text-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
    background-color: var(--secondary);
    background-blend-mode: luminosity;
    box-shadow: inset 0 0 0 1px var(--body),
        inset 0 0 0 2px rgba(255, 255, 255, 0.2);
}

@keyframes moveGradient {
    50% {
        background-position: 100% 100%;
    }
}

#controls .scene-control.active::after,
#controls .control-tool.active::after,
#controls .scene-control:hover::after,
#controls .control-tool:hover::after {
    position: absolute;
    content: '';
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
        45deg,
        var(--tertiary) 0%,
        #9f725b 25%,
        var(--tertiary) 90%,
        white 100%
    );
    background-size: 200% auto;
    background-position: 0 50%;
    animation: moveGradient 4s ease infinite;
    box-shadow: 0 0 0 1px #9f725b, 0 0 8px var(--tertiary);
    border-radius: 1px;
}

/* Map Navigation */
#navigation #scene-list .scene.view,
#navigation #scene-list .scene.context {
    border: none;
    padding: 0;
    background-image: url('../../assets/dark-tire.webp');
}

#navigation #scene-list .scene.view .scene-name,
#navigation #scene-list .scene.context .scene-name {
    border-style: solid;
    border-image-outset: 0;
    border-width: 9px;
    border-image: url('../../assets/sheet/corner-box.webp') 9 repeat;
}

#navigation #scene-list .scene.gm {
    background-color: var(--alt);
    border: 1px solid #493c31;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5),
        inset 0 0 0 2px rgba(255, 255, 255, 0.2),
        inset 0 0 0 3px rgba(255, 255, 255, 0.1);
}

#navigation #nav-toggle {
    box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.3);
}

#navigation #nav-toggle:hover {
    box-shadow: none;
}

/* Sidebar UI */

#chat-log .message {
    padding: 0;
    margin: 6px;
    color: var(--body);
    border-radius: 0;
    background: url('../../assets/sheet/background.webp');

    border: 1px solid rgba(0, 0, 0, 0.5);
    /* prettier-ignore */
    box-shadow:
        0 0 0 1px var(--tertiary),
        0 0 0 2px #9f725b,
        inset 0 0 3px rgba(255,255,255,0.5);
}

#chat-log .message .message-header {
    display: grid;
    grid:
        'sender info' minmax(min-content, max-content)
        'text text' minmax(min-content, max-content)
        / 2fr 1fr;
    color: var(--body);
}

#chat-log .message .message-header .message-sender {
    grid-area: sender;
    font-size: small;
    font-weight: 400;
    color: var(--header-color);
    background-color: var(--header-bg);
    padding: var(--body-padding);
    padding-right: 0;

    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    background-image: url('../../assets/chat-header.webp');
}

#chat-log .message .message-header .message-metadata {
    grid-area: info;
    color: var(--header-color);
    background-color: var(--header-bg);
    padding: var(--body-padding);

    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    background-image: url('../../assets/chat-header.webp');
}

#chat-log .message .message-header .flavor-text,
#chat-log .message .message-header .whisper-to {
    grid-area: text;
    padding: var(--body-padding);
}

#chat-log .message .message-content {
    padding: var(--body-padding);
}

.sf2e.chat-card .card-header {
    display: flex;
    align-items: center;
    border: none;
}

.sf2e.chat-card .card-header h3 {
    line-height: normal;
}

.sf2e.chat-card .card-content {
    border-style: double;
    border-image-slice: 11;
    border-image-width: 14px;
    border-image-repeat: repeat;
    border-image-source: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1%7Bstroke:%23231f20;stroke-miterlimit:10%7D.st1,.st2%7Bfill:none%7D%3C/style%3E%3Cg opacity='.25'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cg%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zM3.6 3.6h3.1v3.1H3.6zM6.8 3.6h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zM3.6 6.8H.5V13M13 .5H6.8v3.1'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st1' d='M29.4.5h3.1v3.1h-3.1zM26.3 3.6h3.1v3.1h-3.1zM26.3 6.8h3.1v3.1h-3.1zM23.1 3.6h3.1v3.1h-3.1zM26.3 3.6V.5H20'/%3E%3Cpath class='st1' d='M32.5 13V6.8h-3.1'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st1' d='M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zM23.1 26.3h3.1v3.1h-3.1zM26.3 23.1h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zM3.6 26.3h3.1v3.1H3.6zM3.6 23.1h3.1v3.1H3.6zM6.8 26.3h3.1v3.1H6.8z'/%3E%3Cpath class='st1' d='M6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.sf2e.chat-card .card-content p {
    padding: 0.5em;
}
