<form class="npc-sheet dead" autocomplete="off">
    <div class="side-bar">
        <div class="profile" style="background-image: url('{{actor.img}}')">
            <img src="/icons/svg/skull.svg" />
        </div>
        <h2 class="name">{{actor.name}}</h2>
    </div>
    <div class="npc-body">
        {{> "systems/sf2e/templates/actors/npc/tabs/inventory.html"}}
    </div>
</form>
