<form class="npc-sheet" autocomplete="off">
    <div class="side-bar">
        {{> "systems/sf2e/templates/actors/npc/partials/sidebar.html"}}
    </div>
    <div class="npc-body">
        {{> "systems/sf2e/templates/actors/npc/partials/header.html"}}

        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="main">{{ localize "SF2E.NPC.MainTab"}}</a>
            <a class="item" data-tab="inventory">{{ localize "SF2E.NPC.InventoryTab"}}</a>
            <a class="item" data-tab="spells">{{ localize "SF2E.NPC.SpellsTab"}}</a>
            <a class="item" data-tab="notes">{{ localize "SF2E.NPC.NotesTab"}}</a>
        </nav>
        <section class="sheet-body">
            {{> "systems/sf2e/templates/actors/npc/tabs/main.html"}}
            {{> "systems/sf2e/templates/actors/npc/tabs/inventory.html"}}
            {{> "systems/sf2e/templates/actors/npc/tabs/spells.html"}}
            {{> "systems/sf2e/templates/actors/npc/tabs/notes.html"}}
        </section>
    </div>
</form>
