<option value="0" {{#if (eq proflevel 0)}}selected{{/if}}>{{localize "SF2E.ProficiencyLevel0"}}</option>
<option value="1" {{#if (eq proflevel 1)}}selected{{/if}}>{{localize "SF2E.ProficiencyLevel1"}}</option>
<option value="2" {{#if (eq proflevel 2)}}selected{{/if}}>{{localize "SF2E.ProficiencyLevel2"}}</option>
<option value="3" {{#if (eq proflevel 3)}}selected{{/if}}>{{localize "SF2E.ProficiencyLevel3"}}</option>
<option value="4" {{#if (eq proflevel 4)}}selected{{/if}}>{{localize "SF2E.ProficiencyLevel4"}}</option>
