<div class="tab actions actions-pane" data-group="primary" data-tab="actions">
    <div class="actions-container">
        <div class="actions-tabs-wrapper">
            <div class="actions-panels">

                <ol class="actions-list inventory-list directory-list strikes-list">
                    {{#each actor.actions as |section sid|}}
                        <li class="action-header">
                            <h3 class="pf-heading pf-actions">{{section.label}}</h3>
                            {{#if ../owner}}
                            <div class="item-controls" style="display: flex">
                                <a class="item-control item-create" title="{{localize 'SF2E.CreateActionTitle'}}" data-type="action" data-action-type="{{sid}}"><i class="fas fa-plus"></i></a>
                                <a class="item-control action-browse" title="{{localize 'SF2E.OpenActionBrowserTitle'}}" data-type="feat"><i class="fas fa-search"></i></a>
                            </div>
                            {{/if}}
                        </li>
                        {{#each section.actions as |action aid|}}
                        <li class="item" data-item-id="{{action._id}}">
                            <div class="item-name rollable">
                                <div class="item-image" style="background-image: url({{action.img}})">
                                    <i class="fas fa-comment-alt"></i>
                                </div>
                                <h4>
                                    {{action.name}}
                                </h4>
                            </div>
                            {{#if ../../owner}}
                            <div class="item-controls">
                                <a class="item-control item-edit" title="{{localize 'SF2E.EditItemTitle'}}"><i class="fas fa-edit"></i></a>
                                {{#unless action.feat}}
                                <a class="item-control item-delete" title="{{localize 'SF2E.DeleteItemTitle'}}"><i class="fas fa-trash"></i></a>
                                {{/unless}}
                            </div>
                            {{/if}}
                        </li>
                        {{/each}}
                    {{/each}}
                </ol>
            </div>
        </div>
    </div>
</div>
