<div class="tab biography" data-group="primary" data-tab="description">
    <ul class="directory-list">
        {{!-- <li class="action-header">
            <h3 class="item-name pf-heading">{{localize 'SF2E.vehicle.DescriptionHeading'}}</h3>
        </li> --}}
        <li class="biography-content" style="min-height: 200px;">
            {{editor content=data.details.description target="data.details.description" button=true owner=owner editable=editable}}
        </li>
    </ul>
</div>