{{#if options.troubleshoot}}
    <h3>{{localize "SF2E.Migrations.Summary.Troubleshoot.Hint" version=systemVersion}}</h3>
{{else}}
    <h3>{{localize "SF2E.Migrations.Finished" version=systemVersion}}</h3>
{{/if}}
<div class="dialog-content">
    <table>
        <thead>
            <tr>
                <th>{{localize "SF2E.Migrations.Summary.Documents"}}</th>
                <th>{{localize "SF2E.Migrations.Summary.Migrated"}} / {{localize "SF2E.Migrations.Summary.Total"}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{localize "SF2E.Actor.Plural"}}</td>
                <td><span class="docs-successful">{{actors.successful}}</span> / {{actors.total}}</td>
                <td>
                    {{#if (eq actors.successful actors.total)}}
                        <i class="fas fa-check"></i>
                    {{else}}
                        <i class="fas fa-times"></i>
                    {{/if}}
                </td>
            </tr>
            <tr>
                <td>{{localize "SF2E.Item.Plural"}}</td>
                <td><span class="docs-successful">{{items.successful}}</span> / {{items.total}}</td>
                <td>
                    {{#if (eq items.successful items.total)}}
                        <i class="fas fa-check"></i>
                    {{else}}
                        <i class="fas fa-times"></i>
                    {{/if}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{{#if helpResources}}
    <p class="help-resources">{{{enrichHTML (localize "SF2E.Migrations.Summary.HelpResources")}}}</p>
{{/if}}
<div class="dialog-buttons">
    <button type="button" data-action="close">{{localize "SF2E.OK"}}</button>
    {{#if canRemigrate}}<button type="button" data-action="remigrate" {{disabled helpResources}}>{{localize "SF2E.Migrations.Summary.Remigrate"}}</button>{{/if}}
</div>
