<section>
    <h1>{{date}} ({{time}})</h1>
    {{#if user.isGM}}
        <div class="input-grid">
            <button type="button" data-advance-time="{{sign}}6"><span class="sign">{{sign}}</span>{{localize "SF2E.WorldClock.Button.AddOneRound"}}</button>
            <button type="button" data-advance-time="{{sign}}60"><span class="sign">{{sign}}</span>{{localize "SF2E.WorldClock.Button.AddOneMinute"}}</button>
            <button type="button" data-advance-time="{{sign}}600"><span class="sign">{{sign}}</span>{{localize "SF2E.WorldClock.Button.AddTenMinutes"}}</button>
            <button type="button" data-advance-time="{{sign}}3600"><span class="sign">{{sign}}</span>{{localize "SF2E.WorldClock.Button.AddOneHour"}}</button>
            <button type="button" data-advance-time="{{sign}}86400"><span class="sign">{{sign}}</span>{{localize "SF2E.WorldClock.Button.AddOneDay"}}</button>
            <button type="button" data-advance-time="{{sign}}604800"><span class="sign">{{sign}}</span>{{localize "SF2E.WorldClock.Button.AddOneWeek"}}</button>
        </div>
        <hr>
        <div class="input-grid">
            <input name="diff-value" type="number" required="required" placeholder="{{localize "SF2E.WorldClock.Placeholder"}}">
            <select name="diff-unit">
                <option value="1">{{localize "SF2E.Time.Unit.Seconds"}}</option>
                <option value="6">{{localize "SF2E.Time.Unit.Rounds"}}</option>
                <option value="60">{{localize "SF2E.Time.Unit.Minutes"}}</option>
                <option value="3600">{{localize "SF2E.Time.Unit.Hours"}}</option>
                <option value="86400">{{localize "SF2E.Time.Unit.Days"}}</option>
                <option value="604800">{{localize "SF2E.Time.Unit.Weeks"}}</option>
            </select>
            <button type="button" name="advance">{{#if (eq sign "+")}}{{localize "SF2E.WorldClock.Button.Advance"}}{{else}}{{localize "SF2E.WorldClock.Button.Retract"}}{{/if}}</button>
        </div>
    {{/if}}
</section>
