<form autocomplete="off" onsubmit="event.preventDefault();">
    <label>{{ localize "SF2E.loot.MoveLootMessage" }}</label>
    <div class="form-group">
      <label>{{ localize "SF2E.loot.Quantity" }}:</label>
      <input type="number" name="quantity" value="{{maxQuantity}}" min="1" max="{{maxQuantity}}" data-dtype="Number"/>
    </div>
    <button type="submit" name="submit" value="1"><i class="far fa-save"></i>{{ localize "SF2E.loot.MoveLoot" }}</button>
</form>