<header class="char-header">
    <div class="char-details">
        <h1 class="char-name">
            <input
                name="name"
                type="text"
                value="{{actor.name}}"
                placeholder="{{localize 'SF2E.CharacterNamePlaceholder'}}"
            />
        </h1>
        <div class="dots">
            <h4>{{localize "SF2E.HeroPointsLabel"}}</h4>
            <span class="adjust-stat" data-property="data.attributes.heroPoints.rank" value="{{data.attributes.heroPoints.rank}}" title="{{localize data.attributes.heroPoints.hover}}">
                {{{data.attributes.heroPoints.icon}}}
            </span>
        </div>
    </div>
    <div class="char-level">
        <div class="level">
            <label>
                {{localize "SF2E.LevelLabel"}}
            </label>
            <input
                name="data.details.level.value"
                type="number"
                value="{{data.details.level.value}}"
                data-dtype="Number"
                placeholder="1"
                size="2"
            />
        </div>
        <div class="exp-data">
            <div class="exp-input">
                <input
                    name="data.details.xp.value"
                    type="number"
                    value="{{data.details.xp.value}}"
                    data-dtype="Number"
                    placeholder="0"
                    size="4"
                />
                <span class="max" data-wpad="14">
                    /
                </span>
                <input
                    name="data.details.xp.max"
                    type="text"
                    value="{{data.details.xp.max}}"
                    data-dtype="Number"
                    placeholder="1000"
                    size="4"
                />
            </div>
            <div class="exp-bar">
                <span
                    class="bar"
                    style="width: {{data.details.xp.pct}}%"
                ></span>
            </div>
        </div>
    </div>
</header>
