<div class="pc pc_gender">
    <label class="details-label" for="{{options.id}}-pc-gender">
        {{localize 'SF2E.GenderPronoun'}}
    </label>
    <span title="{{localize 'SF2E.GenderPronounTitle'}}">
        <input
            id="{{options.id}}-pc-gender"
            name="data.details.gender.value"
            type="text"
            value="{{data.details.gender.value}}"
            data-dtype="String"
        />
    </span>
</div>
<div class="pc pc_age">
    <label class="details-label" for="{{options.id}}-pc-age">
        {{localize 'SF2E.Age'}}
    </label>
    <span title="{{localize 'SF2E.AgeTitle'}}">
        <input
            id="{{options.id}}-pc-age"
            name="data.details.age.value"
            type="text"
            value="{{data.details.age.value}}"
            data-dtype="String"
        />
    </span>
</div>
<div class="pc pc_height">
    <label class="details-label" for="{{options.id}}-pc-height">
        {{localize 'SF2E.Height'}}
    </label>
    <span title="{{localize 'SF2E.HeightTitle'}}">
        <input
            id="{{options.id}}-pc-height"
            name="data.details.height.value"
            type="text"
            value="{{data.details.height.value}}"
            data-dtype="String"
        />
    </span>
</div>
<div class="pc pc_weight">
    <label class="details-label" for="{{options.id}}-pc-weight">
        {{localize 'SF2E.Weight'}}
    </label>
    <span title="{{localize 'SF2E.WeightTitle'}}">
        <input
            id="{{options.id}}-pc-weight"
            name="data.details.weight.value"
            type="text"
            value="{{data.details.weight.value}}"
            data-dtype="String"
        />
    </span>
</div>
<div class="pc pc_ethnicity">
    <label class="details-label" for="{{options.id}}-pc-ethnicity">
        {{localize 'SF2E.Ethnicity'}}
    </label>
    <span>
        <input
            id="{{options.id}}-pc-ethnicity"
            type="text"
            name="data.details.ethnicity.value"
            data-dtype="String"
            value="{{data.details.ethnicity.value}}"
        />
    </span>
</div>
<div class="pc pc_nationality">
  <label class="details-label" for="{{options.id}}-pc-nationality">
    {{localize 'SF2E.Nationality'}}
  </label>
  <span>
        <input
          id="{{options.id}}-pc-nationality"
          type="text"
          name="data.details.nationality.value"
          data-dtype="String"
          value="{{data.details.nationality.value}}"
        />
    </span>
</div>
