<ol class="ability-scores">
    {{#each data.abilities as |ability id|}}
        <li class="ability" data-ability="{{id}}">
            <label for="{{@root.options.id}}-{{id}}-ability-score" class="details-label ability-name">{{localize ability.label}}</label>
            <h2 class="ability-id" title="{{localize 'SF2E.AbilityTitle'}}">
                {{localize (add 'SF2E.AbilityId.' id)}}
            </h2>
            <h3 class="ability-mod" title="{{localize 'SF2E.ModifierTitle'}}">
                {{numberFormat ability.mod decimals=0 sign=true}}
            </h3>
            <div class="ability-score" title="{{localize 'SF2E.ScoreTitle'}}">
                <input
                    name="data.abilities.{{id}}.value"
                    type="number"
                    value="{{ability.value}}"
                    data-dtype="Number"
                    placeholder="10"
                    id="{{@root.options.id}}-{{id}}-ability-score"
                />
            </div>
        </li>
    {{/each}}
</ol>
