<div class="sf2e chat-card action-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3>{{item.name}}</h3>
    </header>
    <div class="card-content">{{{data.description.value}}}</div>
    <footer class="card-footer">
        {{#each data.properties}}
            <span>{{localize this}}</span>
        {{/each}}
        {{#each data.traits}}
            <span title="{{localize this.description}}">{{localize this.label}}</span>
        {{/each}}
    </footer>
</div>
