<form class="check-modifiers-content">
    <div class="dialog-row header">
        <span class="type">{{localize 'SF2E.Roll.Type'}}</span>
        <span class="mod">{{localize 'SF2E.Roll.Modifier'}}</span>
        <span class="exclude"></span>
    </div>
    <hr />
    <div class="modifier-container">
        {{#each check.modifiers as |modifier idx|}}
            <div class="dialog-row {{#unless modifier.enabled}}modifier-enabled{{/unless}}">
                <span class="type tag">{{localize (concat "SF2E.ModifierType."  modifier.type)}}</span>
                {{#if modifier.label}}
                    <span class="mod">{{localize modifier.label}}</span>
                {{else}}
                    <span class="mod">{{localize modifier.name}}</span>
                {{/if}}
                <span class="value">{{numberFormat modifier.modifier decimals=0 sign=true}}</span>
                <label class="exclude toggle">
                    <input type="checkbox" id="{{../appId}}-modifier-{{idx}}" data-modifier-index="{{idx}}" {{checked modifier.ignored}} />
                    <label for="{{../appId}}-modifier-{{idx}}"></label>
                </label>
            </div>
        {{/each}}
    </div>
    <hr />
    <div class="add-modifier-panel">
        <input type="text" class="add-modifier-name" placeholder={{localize "SF2E.ModifierTitle"}}>
        <select class="add-modifier-type">
            <option value="circumstance" selected>{{localize "SF2E.ModifierType.circumstance"}}</option>
            <option value="item">{{localize "SF2E.ModifierType.item"}}</option>
            <option value="status">{{localize "SF2E.ModifierType.status"}}</option>
            <option value="untyped">{{localize "SF2E.ModifierType.untyped"}}</option>
            <option value="ability">{{localize "SF2E.ModifierType.ability"}}</option>
            <option value="proficiency">{{localize "SF2E.ModifierType.proficiency"}}</option>
        </select>
        <input type="text" class="add-modifier-value" placeholder="+1">
        <button class="add-modifier">+{{localize "SF2E.Roll.Add"}}</button>
    </div>
    <hr/>

    <div class="fate">
        <label>
            <input type="radio" name="fate" value="fortune" {{checked fortune}} />
            {{localize "SF2E.Roll.Fortune"}}
        </label>
        <label>
            <input type="radio" name="fate" value="none" {{checked none}} />
            {{localize "SF2E.Roll.None"}}
        </label>
        <label>
            <input type="radio" name="fate" value="misfortune" {{checked misfortune}} />
            {{localize "SF2E.Roll.Misfortune"}}
        </label>
    </div>
    <hr/>

    <div class="roll-mode-panel">
        <span class="label">{{localize "SF2E.RollModeLabel"}}</span>
        <select name="rollmode">
            {{#select rollMode}}
                {{#each rollModes as |label key|}}
                    <option value="{{key}}">{{localize label}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <hr/>

    <button type="button" class="roll">{{localize "SF2E.Roll.Roll"}} ({{numberFormat check.totalModifier decimals=0 sign=true}})</button>

    <!-- Settings Menu -->
    <div class="hover-content" id="{{appId}}-settings">
        <ul class="modifier-list settings-list">
            <li class="item">
                <span class="label">{{localize "SF2E.SETTINGS.Player.QuickRolls.DialogHint"}}</span>
                <input class="quick-rolls-submit" type="checkbox" {{checked showRollDialogs}} />
            </li>
        </ul>
    </div>
</form>
