<form>
    <div class="form-group">
        <label>{{localize "SF2E.ItemBonusLabel"}}</label>
        <input type="text" name="itemBonus" value="{{data.itemBonus}}" placeholder="{{localize "SF2E.RollBonusPlaceholder"}}"/>
    </div>
    <div class="form-group">
        <label>{{localize "SF2E.StatusBonusTitle"}}</label>
        <input type="text" name="statusBonus" value="{{data.statusBonus}}" placeholder="{{localize "SF2E.RollBonusPlaceholder"}}"/>
    </div>
    <div class="form-group">
        <label>{{localize "SF2E.CircumstanceBonusTitle"}}</label>
        <input type="text" name="circumstanceBonus" value="{{data.circumstanceBonus}}" placeholder="{{localize "SF2E.RollBonusPlaceholder"}}"/>
    </div>
    <div class="form-group">
        <label>{{localize "SF2E.RollModeLabel"}}</label>
        <select name="rollMode">
        {{#select rollMode}}
        {{#each rollModes as |label mode|}}
            <option value="{{mode}}">{{localize label}}</option>
        {{/each}}
        {{/select}}
        </select>
    </div>
</form>
