<div class="sf2e chat-card item-card" {{#if data.item}}data-embedded-item="{{data.item}}"{{/if}} data-spell-lvl="{{data.spellLvl}}" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3>{{item.name}}</h3>
        <h4>{{data.levelLabel}}</h4>
    </header>

    <div class="item-properties tags">
        {{#each data.traits}}
            <span class="tag" title="{{localize this.description}}">{{localize this.label}}</span>
        {{/each}}
    </div>

    <div class="card-content">
        {{{data.description.value}}}

        {{#if data.materials.value}}
            <p><strong>{{localize "SF2E.SpellRequirementsLabel"}}</strong> {{data.materials.value}}</p>
        {{/if}}
    </div>

    <div class="card-buttons">
        {{#if data.isSave}}<button type="button" data-action="save" data-save="{{data.save.value}}" data-dc="{{data.save.dc}}">{{localize "SF2E.SaveDCLabel"}} {{data.save.dc}} {{data.save.basic}} {{localize data.save.str}}</button>{{/if}}
        {{#if data.isAttack}}
            <div class="spell-attack-buttons" data-visibility="owner">
                <button type="button" data-action="spellAttack">{{localize "SF2E.AttackLabel"}}</button>
                <button type="button" data-action="spellAttack2">{{localize "SF2E.MAPAbbreviationLabel" penalty=-5}}</button>
                <button type="button" data-action="spellAttack3">{{localize "SF2E.MAPAbbreviationLabel" penalty=-10}}</button>
            </div>
        {{/if}}
        {{#if data.hasDamage}}<button type="button" data-action="spellDamage" data-visibility="owner">{{data.damageLabel}}</button>{{/if}}
        {{#if data.hasCounteractCheck.value}}<button type="button" data-action="spellCounteract" data-visibility="owner">{{localize "SF2E.Counteract"}}</button>{{/if}}
        {{#if data.area.areaType}}<button type="button" data-action="spellTemplate" data-visibility="owner">{{localize 'SF2E.Item.Spells.PlaceMeasuredTemplate' shape=data.areaType size=data.areaSize unit=data.areaUnit}}</button>{{/if}}
    </div>

    <footer class="card-footer">
        {{#each data.properties}}
            <span>{{localize this}}</span>
        {{/each}}
    </footer>
</div>
