<div class="sf2e chat-card item-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3>{{item.name}}</h3>
    </header>

    {{#if data.description.value}}
        <div class="card-content">
            {{{data.description.value}}}
        </div>
    {{/if}}
    <footer class="card-footer">
        {{#if (and item.isIdentified (ne item.data.data.stackGroup.value "coins"))}}
            <span>{{localize "SF2E.Item.Physical.LevelLabel" level=item.level}}</span>
            <span>{{localize "SF2E.Item.Physical.PriceLabel" price=item.price}}</span>
        {{/if}}
    </footer>
</div>
