<div class="spell-browser">
    <div class="control-area">
        <div class="sortcontainer" id="tagfilter">
            <input class="" name="textFilter" type="text" value="" data-dtype="String" placeholder="{{localize "SF2E.BrowserSearchPlaceholder"}}" title="{{localize "SF2E.BrowserSearchTitle"}}"/>
            <div class="hint" style="display:none;">
                {{{localize "SF2E.ActionBrowserSearchHint"}}}
            </div>
            <dl>
                <dt>{{localize "SF2E.BrowserSortyByLabel"}}:</dt>
                <dd>
                    <select class="order">
                        <option value="name" selected>{{localize "SF2E.BrowserSortyByNameLabel"}}</option>
                    </select>
                    <a class="direction" data-type="alpha" data-direction="asc"><i class="fas fa-sort-alpha-up"></i></a>
                </dd>
            </dl>
        </div>
        <button type="button" class="clear-filters">{{localize "SF2E.BrowserClearFilters"}}</button>
        <div class="filtercontainer" id="actionTraitfilter">
            <h3>{{localize "SF2E.BrowserFilterTraits"}}</h3>
            <dl style="display:none;">
                {{#each actionTraits as |trait key|}}
                    <label><dt><input type="checkbox" name="traits-{{lower key}}"></dt><dd>{{localize trait}}</dd></label>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer" id="sourcefilter">
            <h3>{{localize "SF2E.BrowserFilterSource"}}</h3>
            <dl style="display:none;">
                {{#each source as |type key|}}
                <label><dt><input type="checkbox" name="source-{{lower type}}"></dt><dd>{{localize type}}</dd></label>
                {{/each}}
            </dl>
        </div>
    </div>
    <ul class="item-list result-list">
        {{#each actions as |item id|}}
            <li class="item flexrow"
                data-entry-compendium="{{item.compendium}}"
                data-entry-id="{{item._id}}" data-item-category="actions"
                {{#each item.data as |attrib id|}}
                {{#if (ne id description)}}data-{{lower id}}="{{lower attrib.value}}"{{/if}}
                {{/each}}>
                <div class="image">
                    <img class="" src="{{item.img}}" title="{{item.name}}" width="32" height="32" loading="lazy"/>
                </div>
                <div class="name">
                    <a class="item-link">{{item.name}}</a>
                </div>
            </li>
        {{/each}}
    </ul>

</div>
