<div class="spell-browser">
    <div class="control-area">
        <div class="sortcontainer" id="tagfilter">
            <input class="" name="textFilter" type="text" value="" data-dtype="String" placeholder="{{localize "SF2E.BrowserSearchPlaceholder"}}" title="{{localize "SF2E.BrowserSearchTitle"}}"/>
            <div class="hint" style="display:none;">
                {{{localize "SF2E.BestiaryBrowserSearchHint"}}}
            </div>
            <dl>
                <dt>{{localize "SF2E.BrowserSortyByLabel"}}:</dt>
                <dd>
                    <select class="order">
                        <option value="name" selected>{{localize "SF2E.BrowserSortyByNameLabel"}}</option>
                        <option value="level">{{localize "SF2E.BrowserSortyByLevelLabel"}}</option>
                    </select>
                    <a class="direction" data-type="alpha" data-direction="asc"><i class="fas fa-sort-alpha-up"></i></a>
                </dd>
            </dl>
        </div>
        <button type="button" class="clear-filters">{{localize "SF2E.BrowserClearFilters"}}</button>
        <div class="filtercontainer" id="sizefilter">
            <h3>{{localize "SF2E.BrowserFilterSizes"}}</h3>
            <dl style="display:none;">
                {{#each actorSize as |size key|}}
                    <label><dt><input type="checkbox" name="actorsize-{{lower key}}"></dt><dd>{{localize size}}</dd></label>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer" id="alignmentfilter">
            <h3>{{localize "SF2E.BrowserFilterAlignments"}}</h3>
            <dl style="display:none;">
                {{#each alignment as |type key|}}
                    <label><dt><input type="checkbox" name="alignment-{{lower key}}"></dt><dd>{{localize type}}</dd></label>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer" id="traitfilter">
            <h3>{{localize "SF2E.BrowserFilterTraits"}}</h3>
            <dl style="display:none;">
                {{#each traits as |trait key|}}
                    <label><dt><input type="checkbox" name="traits-{{key}}"></dt><dd>{{localize trait}}</dd></label>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer" id="sourcefilter">
            <h3>{{localize "SF2E.BrowserFilterSource"}}</h3>
            <dl style="display:none;">
                {{#each source as |type key|}}
                    <label><dt><input type="checkbox" name="source-{{lower type}}"></dt><dd>{{localize type}}</dd></label>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer" id="raritiesfilter">
            <h3>{{localize "SF2E.BrowserFilterRarities"}}</h3>
            <dl style="display:none;">
                {{#each rarities as |rarity key|}}
                    <label><dt><input type="checkbox" name="rarity-{{lower key}}"></dt><dd>{{localize rarity}}</dd></label>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer rangecontainer" id="levelfilter">
            <h3>{{localize "SF2E.BrowserFilterLevels"}}</h3>
            <div style="display:none;">
                <input type="number" name="lowerBound-level" value="-1" min="-1" max="25">
                -
                <input type="number" name="upperBound-level" value="25" min="-1" max="25">
            </div>
        </div>
    </div>
    <ul class="item-list result-list">
        {{#each bestiaryActors as |actor id|}}
            <li class="item flexrow"
                data-entry-compendium="{{actor.compendium}}"
                data-entry-id="{{actor._id}}" data-actor-category="bestiaryActors"
                {{#each actor.filters as |attrib id|}}data-{{lower id}}="{{lower attrib}}"{{/each}}>
                <div class="image">
                    <img class="" src="{{actor.img}}" title="{{actor.name}}" width="32" height="32" loading="lazy"/>
                </div>
                <div class="name">
                    <a class="actor-link">{{actor.name}}</a>
                </div>
                <div class="level">
                    <span title="NPC level">{{actor.data.details.level.value}}</span>
                </div>
            </li>
        {{/each}}
    </ul>

</div>
