<div class="content-box">
    <nav data-group="primary">
        <a data-tab="landing-page" style="display:none"></a>
        <a data-tab="action">{{localize "SF2E.CompendiumBrowser.TabAction"}}</a>
        {{#if user.isGM}}
            <a data-tab="bestiary">{{localize "SF2E.CompendiumBrowser.TabBestiary"}}</a>
        {{/if}}
        <a data-tab="equipment">{{localize "SF2E.CompendiumBrowser.TabEquipment"}}</a>
        <a data-tab="feat">{{localize "SF2E.CompendiumBrowser.TabFeat"}}</a>
        {{#if user.isGM}}
            <a data-tab="hazard">{{localize "SF2E.CompendiumBrowser.TabHazard"}}</a>
        {{/if}}
        <a data-tab="spell">{{localize "SF2E.CompendiumBrowser.TabSpell"}}</a>
        {{#if user.isGM}}
            <a data-tab="settings">{{localize "SF2E.CompendiumBrowser.TabSettings"}}</a>
        {{/if}}
    </nav>
    <section class="content">
        <div class="tab" data-group="primary" data-tab="landing-page">
            <div style='text-align:center; padding: 2em;'>Use the tabs above to select a compendium</div>
        </div>

        {{#with action}}
            <div class="tab browser" data-group="primary" data-tab="action">
                {{> systems/sf2e/templates/packs/action-browser.html }}
            </div>
        {{/with}}

        {{#if user.isGM}}
            {{#with bestiary}}
                <div class="tab browser" data-group="primary" data-tab="bestiary">
                    {{> systems/sf2e/templates/packs/bestiary-browser.html }}
                </div>
            {{/with}}
        {{/if}}

        {{#with equipment}}
            <div class="tab browser" data-group="primary" data-tab="equipment">
                {{> systems/sf2e/templates/packs/inventory-browser.html }}
            </div>
        {{/with}}

        {{#with feat}}
            <div class="tab browser" data-group="primary" data-tab="feat">
                {{> systems/sf2e/templates/packs/feat-browser.html }}
            </div>
        {{/with}}

        {{#if user.isGM}}
            {{#with hazard}}
                <div class="tab browser" data-group="primary" data-tab="hazard">
                    {{> systems/sf2e/templates/packs/hazard-browser.html }}
                </div>
            {{/with}}
        {{/if}}

        {{#with spell}}
            <div class="tab browser" data-group="primary" data-tab="spell">
                {{> systems/sf2e/templates/packs/spell-browser.html }}
            </div>
        {{/with}}

        {{#if user.isGM}}
            {{#with settings}}
                <div class="tab settings" data-group="primary" data-tab="settings">
                    {{> systems/sf2e/templates/packs/browser-settings.html }}
                </div>
            {{/with}}
        {{/if}}
    </section>
</div>
