<div class="spell-browser">
    <div class="control-area">
        <div class="sortcontainer" id="tagfilter">
            <input class="" name="textFilter" type="text" value="" data-dtype="String" placeholder="{{localize "SF2E.BrowserSearchPlaceholder"}}" title="{{localize "SF2E.BrowserSearchTitle"}}"/>
            <div class="hint" style="display:none;">
                {{{localize "SF2E.SpellBrowserSearchHint"}}}
            </div>
            <dl>
                <dt>{{localize "SF2E.BrowserSortyByLabel"}}:</dt>
                <dd>
                    <select class="order">
                        <option value="name" selected>{{localize "SF2E.BrowserSortyByNameLabel"}}</option>
                        <option value="level">{{localize "SF2E.BrowserSortyByLevelLabel"}}</option>
                    </select>
                    <a class="direction" data-type="alpha" data-direction="asc"><i class="fas fa-sort-alpha-up"></i></a>
                </dd>
            </dl>
            <dl class="timefilter">
                <dt>{{localize "SF2E.BrowserFilterCastingTime"}}:</dt>
                <dd><select class="" name="timefilter">
                    <option value="" selected>-</option>
                    {{#each times as |time key|}}
                        <option value="{{lower time}}">{{time}}</option>
                    {{/each}}
                </select></dd>
            </dl>
        </div>
        <button type="button" class="clear-filters">{{localize "SF2E.BrowserClearFilters"}}</button>
        <div class="filtercontainer" id="classfilter">
            <h3>{{localize "SF2E.BrowserFilterSpellCategories"}}</h3>
            <dl>
                {{#each categories as |category key|}}
                    <label>
                        <dt><input type="checkbox" name="category-{{lower key}}" /></dt>
                        <dd>{{localize category}}</dd>
                    </label>
                {{/each}}
                <label>
                    <dt><input type="checkbox" name="category-cantrip" /></dt>
                    <dd>{{localize "SF2E.SpellCantripLabel"}}</dd>
                </label>
            </dl>
        </div>
        <div class="filtercontainer" id="classfilter">
            <h3>{{localize "SF2E.BrowserFilterTraditions"}}</h3>
            <dl>
                {{#each traditions as |tradition key|}}
                    <label>
                        <dt><input type="checkbox" name="traditions-{{lower key}}" /></dt>
                        <dd>{{localize tradition}}</dd>
                    </label>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer" id="levelfilter">
            <h3>{{localize "SF2E.BrowserFilterLevels"}}</h3>
            <dl>
                <label><dt><input type="checkbox" name="level-1"></dt><dd>{{localize "SF2E.SpellLevel1"}}</dd></label>
                <label><dt><input type="checkbox" name="level-2"></dt><dd>{{localize "SF2E.SpellLevel2"}}</dd></label>
                <label><dt><input type="checkbox" name="level-3"></dt><dd>{{localize "SF2E.SpellLevel3"}}</dd></label>
                <label><dt><input type="checkbox" name="level-4"></dt><dd>{{localize "SF2E.SpellLevel4"}}</dd></label>
                <label><dt><input type="checkbox" name="level-5"></dt><dd>{{localize "SF2E.SpellLevel5"}}</dd></label>
                <label><dt><input type="checkbox" name="level-6"></dt><dd>{{localize "SF2E.SpellLevel6"}}</dd></label>
                <label><dt><input type="checkbox" name="level-7"></dt><dd>{{localize "SF2E.SpellLevel7"}}</dd></label>
                <label><dt><input type="checkbox" name="level-8"></dt><dd>{{localize "SF2E.SpellLevel8"}}</dd></label>
                <label><dt><input type="checkbox" name="level-9"></dt><dd>{{localize "SF2E.SpellLevel9"}}</dd></label>
                <label><dt><input type="checkbox" name="level-10"></dt><dd>{{localize "SF2E.SpellLevel10"}}</dd></label>
            </dl>
        </div>
        <div class="filtercontainer" id="classfilter">
            <h3>{{localize "SF2E.BrowserFilterClass"}}</h3>
            <dl style="display:none;">
                {{#each classes as |class key|}}
                    <label><dt><input type="checkbox" name="classes-{{lower key}}"></dt><dd>{{localize class}}</dd></label>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer" id="schoolfilter">
            <h3>{{localize "SF2E.BrowserFilterSchools"}}</h3>
            <dl style="display:none;">
                {{#each schools as |school key|}}
                    <label><dt><input type="checkbox" name="school-{{lower key}}"></dt><dd>{{localize school}}</dd></label>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer" id="raritiesfilter">
            <h3>{{localize "SF2E.BrowserFilterRarities"}}</h3>
            <dl style="display:none;">
                {{#each rarities as |rarity key|}}
                    <label><dt><input type="checkbox" name="rarity-{{lower key}}"></dt><dd>{{localize rarity}}</dd></label>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer" id="traitsfilter">
            <h3>{{localize "SF2E.BrowserFilterTraits"}}</h3>
            <dl style="display:none;">
                {{#each spellTraits as |trait key|}}
                    <label><dt><input type="checkbox" name="traits-{{lower key}}"></dt><dd>{{localize trait}}</dd></label>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer" id="sourcefilter">
            <h3>{{localize "SF2E.BrowserFilterSource"}}</h3>
            <dl style="display:none;">
                {{#each source as |type key|}}
                <label><dt><input type="checkbox" name="source-{{lower type}}"></dt><dd>{{localize type}}</dd></label>
                {{/each}}
            </dl>
        </div>
    </div>
    <ul class="item-list result-list">
        {{#each spells as |spell id|}}
            <li class="item flexrow" data-entry-compendium="{{spell.compendium}}" data-entry-id="{{spell._id}}" data-item-category="spells"
                {{#each spell.data as |attrib id|}}
                {{#if (and (lookup attrib "value") (ne id "description"))}}data-{{lower id}}="{{lower attrib.value}}"{{/if}}
                {{/each}}>
                <div class="image">
                    <img class="" src="{{spell.img}}" title="{{spell.name}}" width="32" height="32" loading="lazy"/>
                </div>
                {{#unless spell.data.time.img}}
                    <div class="image" style="margin-left: 5px;"></div>
            {{else}}
                    <div class="image" style="margin-left: 5px;">
                        <img class="" src="{{spell.data.time.img}}" title="{{spell.data.time.value}}" width="32" height="32" loading="lazy"/>
                    </div>
                {{/unless}}
                <div class="name">
                    <a class="item-link">{{spell.name}}</a>
                </div>
                <div class="level">
                    <span title="Spell level">{{spell.data.level.formated}}</span>
                </div>
            </li>
        {{/each}}
    </ul>
</div>
