<form autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-group">
        <label>{{localize "SF2E.CurrencyPP"}}:</label>
        <input type="number" name="pp" value="0" data-dtype="Number"/>
    </div>
    <div class="form-group">
        <label>{{localize "SF2E.CurrencyGP"}}:</label>
        <input type="number" name="gp" value="0" data-dtype="Number"/>
    </div>
    <div class="form-group">
        <label>{{localize "SF2E.CurrencySP"}}:</label>
        <input type="number" name="sp" value="0" data-dtype="Number"/>
    </div>
    <div class="form-group">
        <label>{{localize "SF2E.CurrencyCP"}}:</label>
        <input type="number" name="cp" value="0" data-dtype="Number"/>
    </div>
    <div class="form-group">
        <label>{{localize "SF2E.AddCoinsCombineStacksLabel"}}:</label>
        <input type="checkbox" name="combineStacks" checked data-dtype="Boolean"/>
    </div>
    <button type="submit" name="submit" value="1"><i class="far fa-save"></i>{{localize "SF2E.AddCoinsTitle"}}</button>
</form>
