<p>{{message}}</p>
<p>
    <select name="proficiency">
        <option></option>
        <optgroup label="{{localize 'SF2E.WeaponGroups'}}" />
        {{#each weaponGroups as |key slug|}}
            <option value="{{slug}}">{{localize key}}</option>
        {{/each}}
        <optgroup label="{{localize 'SF2E.BaseWeapons'}}" />
        {{#each baseWeapons as |key slug|}}
            <option value="{{slug}}">{{localize key}}</option>
        {{/each}}
    </select>
</p>
