<form class="loot-actor-popup" autocomplete="off" onsubmit="event.preventDefault();">
    <div class="checkboxes">
        <h1>{{localize "SF2E.loot.SplitCoinsPopupHeader"}}</h1>
        {{#each actorInfo as |info|}}
        <p>
          <label>
            <input type="checkbox" name="actorIds" value="{{info.id}}" {{#if info.checked}}checked="checked"{{/if}}/>
            <span>{{info.name}}</span>
          </label>
        </p>
        {{/each}}
        <hr />
        <p>
          <label class="break-coins" for="breakCoins">
            <input type="checkbox" name="breakCoins" />
            <span>Allow coin type conversion</span>
          </label>
        </p>
    </div>
    <p>
        <button class="confirm-button" type="submit" name="submit" value="1">
            <i class="far fa-save"></i>
            {{localize "SF2E.loot.SplitCoinsLabel"}}
        </button>
    </p>
</form>
