<form>
  {{#if isMagic}}
  <h1>{{localize "SF2E.identification.IdentifyMagicDCs"}}</h1>
  <table>
    <tbody>
    <tr>
      <th>{{localize "SF2E.SkillArcana"}}</th>
      <td>{{dcs.arc}}</td>
    </tr>
    <tr>
      <th>{{localize "SF2E.SkillNature"}}</th>
      <td>{{dcs.nat}}</td>
    </tr>
    <tr>
      <th>{{localize "SF2E.SkillOccultism"}}</th>
      <td>{{dcs.occ}}</td>
    </tr>
    <tr>
      <th>{{localize "SF2E.SkillReligion"}}</th>
      <td>{{dcs.rel}}</td>
    </tr>
  </table>
  {{else}}
    {{#if isAlchemical}}
    <h1>{{localize "SF2E.identification.IdentifyAlchemyDCs"}}</h1>
    <table>
      <tbody>
      <tr>
        <th>{{localize "SF2E.SkillCrafting"}}</th>
        <td>{{dcs.cra}}</td>
      </tr>
    </table>
    {{else}}
    <h1>{{localize "SF2E.identification.IdentifyGenericDCs"}}</h1>
    <table>
      <tbody>
      <tr>
        <th>{{localize "SF2E.SkillCrafting"}}</th>
        <td>{{dcs.dc}}</td>
      </tr>
    </table>
    {{/if}}
  {{/if}}
  <button type="button" class="post-skill-checks">
    <i class="far fa-save"></i>{{localize "SF2E.identification.PostSkillsToChat"}}
  </button>
  <button type="button" class="update-identification" value="identified">
      <i class="far fa-save"></i>{{localize "SF2E.identification.Identify"}}
  </button>
  <!--
  <button type="submit" class="misidentify" name="data.identification.status" value="misidentified">
      <i class="far fa-save"></i>{{localize "SF2E.identification.Misidentify"}}
  </button>
  -->
  <input type="hidden" name="status" />
</form>
